<md-toolbar>
  <button md-icon-button (click)="goBack()">
    <md-icon class="md-24">arrow_back</md-icon>
  </button>
  <span class="example-spacer"></span>
  <span *ngIf="user; else loginName">{{user.name || user.login}}</span>
  <ng-template #loginName>{{login}}</ng-template>
</md-toolbar>
<div *ngIf="user; else loadingBlock" class="container">
  <md-sidenav-container>
    <md-sidenav mode="side" opened="true">
      {{user.login}}
    </md-sidenav>
    <div class="main-content">
      <!-- <div *ngIf="loading === false; else loadingBlock" class="grid">
        <home-repo-component *ngFor="let repo of repos.items" [repo]=repo></home-repo-component>
      </div>
      <ng-template #loadingBlock>
        <md-spinner strokeWidth="5" mode="indeterminate"></md-spinner>          
      </ng-template>
      <md-paginator [length]="repos.total_count"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        (page)="onChangePageSize($event)">
      </md-paginator> -->
    </div>
  </md-sidenav-container>
</div>
<ng-template #loadingBlock>
  <md-spinner strokeWidth="5" mode="indeterminate"></md-spinner>    
</ng-template>
