<md-toolbar>
  <md-input-container floatPlaceholder="never">
    <input mdInput placeholder="Search" value="" [(ngModel)]="query" (keyup)="onSearchKeyUp($event)">
    <button md-icon-button mdSuffix (click)="clearSearch()">
      <md-icon>close</md-icon>
    </button>
  </md-input-container>
</md-toolbar>
<div class="container">    
  <md-sidenav-container>
    <md-sidenav mode="side" opened="true">
      <md-list>
        <h3 md-subheader>Languages</h3>
        <home-language-component
          *ngFor="let language of languages"
          [disabled]="selectedLanguage == language.name"
          (click)="onLanguageSelected(language)"
          [language]="language"></home-language-component>
      </md-list>
    </md-sidenav>
    <div class="main-content" *ngIf="selectedLanguage; else noLanguageBlock">
      <div *ngIf="loading === false; else loadingBlock" class="grid">
        <home-repo-component *ngFor="let repo of repos.items" [repo]=repo></home-repo-component>  
      </div>
      <ng-template #loadingBlock>
        <md-spinner strokeWidth="5" mode="indeterminate"></md-spinner>          
      </ng-template>
      <md-paginator [length]="repos.total_count"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        (page)="onChangePageSize($event)">
      </md-paginator>
    </div>
    <ng-template #noLanguageBlock>
        Please select a language
      </ng-template>
  </md-sidenav-container>
</div>

